.cell {
    display: inline-block;
    width: 49%;
    text-align: center;
  }
  .circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: whiteSmoke;
    box-shadow: 4px -40px 60px 5px rgb(26, 117, 206) inset;
  }

  .bounce-in-right {
    animation: bounce-in-right 2s ease ;
  }
  @keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }
  